/* ---- reset ---- */

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

/* ---- NavBar ---- */

.NavBar {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background-color: white;
}

.NavBar img {
  height: 3rem;
}

.nav-link {
  margin: 0 1rem;
  text-decoration: none;
  color: black;
}

/* ---- Hero ---- */

.hero {
  display: flex;
  flex-direction: row;
  padding: 2rem;
  justify-content: baseline;
  align-items: center;
  background-color: rgb(215, 228, 158);
}

.hero-text {
  height: 70vh;
  padding: 0.7rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-right: 2rem;

}

.hero img {
  height: 70vh;
}

/* ---- How does it work ---- */

.how{
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: pink;

}

.plans{
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(215, 228, 158);

}

.how-boxes {
  display: flex;
  flex-direction: row;
  padding: 0 2rem;
}

.how-box {
  margin: 1rem 2rem;
}

.how-box img {
  height: 8rem;
  margin: 1rem 2rem;
}
/* Get discount */
.getDiscount {
  text-align: center;
  background-color: #eac5c5;
  padding-top: 6rem;
  padding-bottom: 6rem;
}
.getDiscount p{
  margin: 0;
}

@media (max-width: 375px) {
  
}

/* Get prize */

.getPrizeContainer{
  display: flex;
  padding: 2.5rem;
  background-color: rgb(215, 228, 158)
}
.getPrizePhoto{
  /* width: 50% */
}
.getPrizePhoto img{
  width: 100%;
}

.getPrizeText{
  padding-top: 5rem;
}
.getPrizeText button{
  padding: 1rem;
  border-radius: 0.5rem;
  border-style: none;
  background-color: pink;
  color: grey;
}

/* ---- Footer ---- */
.foot {
  display: flex;
  flex-direction: column;
  bottom: 0;
  justify-content: space-around;
  position: sticky;
  background-color: white;
}

.foot-compo {
  display: flex;
  flex-direction: row;
  height: 1.2rem;
  text-align: right;
  padding: 1rem
}

.foot-compo a{
  text-decoration: none;
  padding: 0.1rem
}

.foot-sn {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: center;
}

.foot-sn img {
  height: 1.5rem;
  margin: 1rem;
}
<<<<<<< HEAD
=======

/* ---- Plan ---- */
.plan-cards {
  display: flex;
  flex-direction: row;
<<<<<<< HEAD
  justify-content: space-around;
}

.plan-card {
  cursor: pointer;
}
=======
}
>>>>>>> 1ca85f8b9a96553d5258e83e9a7471b1c3b9907c
>>>>>>> b71b4c1f8ed15d813ea75eaff16e1ed72c566830
