/* ---- reset ---- */

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

p,
h3 {
  margin: 0;
  padding: 0;
}

/* ---- NavBar ---- */

.NavBar {
  position: sticky;
  z-index: 1;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background-color: white;
}

.NavBar img {
  height: 3rem;
}

.nav-link {
  margin: 0 1rem;
  text-decoration: none;
  color: black;
}

/* ---- Hero ---- */

.hero {
  display: flex;
  flex-direction: row;
  padding: 2rem;
  justify-content: baseline;
  align-items: center;
  background-color: rgb(230, 228, 228);
}

.hero-text {
  height: 70vh;
  padding: 0.7rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-right: 2rem;

}

.hero img {
  height: 70vh;
}

/* ---- How does it work ---- */

.how {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


}

.plans {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(230, 228, 228);

}

.how-boxes {
  display: flex;
  flex-direction: row;
  padding: 0 2rem;
}

.how-box {
  margin: 1rem 2rem;
}

.how-box img {
  height: 8rem;
  margin: 1rem 2rem;
}

/* Get discount */
.getDiscount {
  text-align: center;
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.getDiscount p {
  margin: 0;
}

@media (max-width: 375px) {}

/* Get prize */

.getPrizeContainer {
  display: flex;
  padding: 2.5rem;
  background-color: rgb(230, 228, 228);
}

.getPrizePhoto {
  /* width: 50% */
}

.getPrizePhoto img {
  width: 100%;
}

.getPrizeText {
  padding-top: 5rem;
}

.getPrizeText button {
  padding: 1rem;
  border-radius: 0.5rem;
  border-style: none;
  color: grey;
}

/* ---- Footer ---- */
.foot {
  display: flex;
  flex-direction: column;
  bottom: 0;
  justify-content: space-around;
  position: sticky;
}

.foot-compo {
  display: flex;
  flex-direction: row;
  height: 1.2rem;
  align-items: center;
  justify-content: space-around;
  padding: 1.2rem 0 0.2rem 0;
}

.foot-compo a {
  text-decoration: none;
  padding: 0.1rem
}

.foot-sn {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: center;
}

.foot-sn img {
  height: 1.5rem;
  margin: 1rem;
}

/* ---- Plan ---- */
.plan-cards {
  display: flex;
  flex-direction: row;
  cursor: pointer;
}

.countdown-section{
  height: 30vh;
}

.countdown-section .title{
  font-size: 24px;
  text-align: center;
  font-weight: bold;
  padding-top: 100px;
}

.count-down-container {
  display: flex;
  font-weight: bold;
  justify-content: center;
  text-align: center;
}

.count-down-part p {
  margin-left: 5px;
}

.count-down-part p:first-child {
  font-size: 32px;
}

.count-down-part p:last-child {
  font-size: 12px;
  text-align: end;
}

.code-section {
  height: 30vh;
  display: flex;
  background-color: rgb(230, 228, 228);
  font-size: 10px;
  font-weight: bold;
}

.code-section div{
  margin: auto;
  width: 30%;
}

.code-section p{
  margin-bottom: 20px;
  font-size: 12px;
}

.code-part {
  text-align: center;
}

.code-part Button {
  margin: auto;
}

.code-part p:nth-child(2) {
  text-align: end;
  text-decoration: underline;
}

p.code{
  margin: auto;
  margin-bottom: 0;
  font-size: 24px;
  background-color: white;
  padding: 10px;
  border: solid 1px rgb(174, 174, 174);
}

.upgrade-section {
  height: 25vh;
}

.winner-section{
  height: 30vh;
  display: flex;
  text-align: center;
}

.winner-section div{
  margin: auto;
}

.winner-section p{
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 400;
}

.winner-section p:nth-child(2){
  margin-bottom: 20px;
}

.plan-card {
  cursor: pointer;
}